.colorMixer, .colorMixer * {
  box-sizing: border-box;
  background: none;
  padding: 0;
  margin: 0;
}

.colorMixer {
  position: absolute;
  width: 200px;
  bottom: 5px;
  right: -10px;
  transform: translateX(100%);
  background: #FFF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.colorMixer.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%) scale(0.95);
}

.colorMixer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  transform: translateX(-100%);
  border: 6px solid transparent;
  border-right-color: #FFF;
}

.colorMixer .option {
  height: 20px;
  max-height: 20px;
  width: 100%;
  border-radius: 2px;
  display: flex;
  user-select: none;
}

.colorMixer .option + .option {
  margin-top: 10.5px;
}

.colorMixer .option {
  flex: 1;
  background: #FFF;
  width: 100%;
  position: relative;
}

.colorMixer .option canvas {
  width: 100%;
  height: 100%;
}
.colorMixer .option .label {
   padding-right:8px;
   color: #222;
   text-transform: uppercase;
   font-weight: 600;
}

.colorMixer .option .slider {
   position:relative;
   flex:1;
}

.colorMixer .option .cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  pointer-events:none;
}

.colorMixer .option .cursor:after, .colorMixer .option .cursor:before {
  content: "";
  border: 4px solid transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.colorMixer .option .cursor:after {
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  border-bottom: 4px solid #000;
}

.colorMixer .option .cursor:before {
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  border-top: 4px solid #000;
}
