.easel {
   height: 100%;
   width: 100%;
   background: #444;
}

.easel .scroll {
   position: relative;
   height: 100%;
   overflow: hidden;
}

.easel .scroll canvas {
   position: absolute;

   /* Legal fallback */
   image-rendering: optimizeSpeed;
   /* Firefox        */
   image-rendering: -moz-crisp-edges;
   /* Opera          */
   image-rendering: -o-crisp-edges;
   /* Safari         */
   image-rendering: -webkit-optimize-contrast;
   /* CSS3 Proposed  */
   image-rendering: optimize-contrast;
   /* CSS4 Proposed  */
   image-rendering: crisp-edges;
   /* CSS4 Proposed  */
   image-rendering: pixelated;
   /* IE8+           */
   -ms-interpolation-mode: nearest-neighbor;
}
