/* setup */
.icon {
   width: 1em;
   height: 1em;
   margin: auto;
   position: relative;
   color: #FFF;
}

.icon:after, .icon:before {
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

/* icons */
.icon.draw:after {
   width: 0.5em;
   height: 0.65em;
   bottom: 0;
   box-shadow: inset 0 0.35em 0, inset 0 -0.15em 0;
}

.icon.draw:before {
   top: -0.35em;
   border-width: 0.3em;
   border-style: solid;
   border-top-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
}

.icon.eraser:before {
   top: -0.1em;
   width:0.4em;
   height: 0.85em;
   border-width: 0.1em;
   border-style: solid;
   box-shadow: inset 0 0.5em 0;
}

.icon.select {
   overflow:hidden;
}

.icon.select:before {
   top:0;
   left:-0.25em;
   width:0.2em;
   height:0.3em;
   box-shadow:
      1.2em 0 0,
      1.2em 0.7em 0,
      0.3em 0 0,
      0.3em 0.7em 0;
}

.icon.select:after {
   top:0;
   left:-0.5em;
   width:0.5em;
   height:0.15em;
   box-shadow:
      0.55em 0 0,
      1.4em 0 0,
      0.55em 0.85em 0,
      1.4em 0.85em 0;
   /* top:0em;
   left:0em;
   width:0.9em;
   height:0.2em;
   box-shadow:
      1.1em 0 0;
   background:red; */
}
