.easel {
   height: 100%;
   width: 100%;
   background: #444;
   user-select: none;
}

.easel .scroll {
   position: relative;
   height: 100%;
   overflow: hidden;
}

.easel .scroll .indicator {
   pointer-events:none;
   position:absolute;
   border:8px solid transparent;
   z-index:100;
}

.easel .indicator.horizontal {
   bottom:0;
   border-bottom-color:rgba(255, 255, 255, 0.5);
   transform:translateX(-50%);
}

.easel .scroll .indicator.vertical {
   right:0;
   border-right-color:rgba(255, 255, 255, 0.5);
   transform:translateY(-50%);
}

.easel  .indicator.horizontal.top {
   top:0;
   border-top-color:rgba(255, 255, 255, 0.5);
   transform:translateX(-50%);
}

.easel .scroll .indicator.vertical.left {
   left:0;
   border-left-color:rgba(255, 255, 255, 0.5);
   transform:translateY(-50%);
}

.easel .scroll canvas {
   position: absolute;

   /* Legal fallback */
   image-rendering: optimizeSpeed;
   /* Firefox        */
   image-rendering: -moz-crisp-edges;
   /* Opera          */
   image-rendering: -o-crisp-edges;
   /* Safari         */
   image-rendering: -webkit-optimize-contrast;
   /* CSS3 Proposed  */
   image-rendering: optimize-contrast;
   /* CSS4 Proposed  */
   image-rendering: crisp-edges;
   /* CSS4 Proposed  */
   image-rendering: pixelated;
   /* IE8+           */
   -ms-interpolation-mode: nearest-neighbor;
}
