/* setup */
.icon {
   width: 1em;
   height: 1em;
   margin: auto;
   position: relative;
   color: #FFF;
}

.icon:after, .icon:before {
   content: '';
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

/* icons */
.icon.draw:after {
   width: 0.5em;
   height: 0.65em;
   bottom: 0;
   box-shadow: inset 0 0.35em 0, inset 0 -0.15em 0;
}

.icon.draw:before {
   top: -0.35em;
   border-width: 0.3em;
   border-style: solid;
   border-top-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
}

.icon.eraser:before {
   top: -0.1em;
   width:0.4em;
   height: 0.85em;
   border-width: 0.1em;
   border-style: solid;
   box-shadow: inset 0 0.5em 0;
}

.icon.select {
   overflow:hidden;
}

.icon.select:before {
   top:0;
   left:-0.25em;
   width:0.2em;
   height:0.3em;
   box-shadow:
      1.2em 0 0,
      1.2em 0.7em 0,
      0.3em 0 0,
      0.3em 0.7em 0;
}

.icon.select:after {
   top:0;
   left:-0.5em;
   width:0.5em;
   height:0.15em;
   box-shadow:
      0.55em 0 0,
      1.4em 0 0,
      0.55em 0.85em 0,
      1.4em 0.85em 0;
}

.icon.read {
   width:0.35em;
   height: 1.35em;
   border-radius: 50% 50% 0.1em  0.1em ;
   box-shadow:
      0 -0.35em 0 0.1em inset,
      0 0.05em 0 0.1em inset;
}

.icon.read:after {
   content: '';
   position:absolute;
   left: 0.18em;
   top: 0.8em;
   font-weight:600;
   height: 0.25em;
   width: 0.75em;
   border-radius:0.05em;
   box-shadow:0 0 0 0.5em inset;
}

.icon.line {
   height:0.6em;
   width:0.1em;
   box-shadow: 0 0 0 1em inset;
   top:0em;
}

.icon.line:before, .icon.line:after {
   width:0.2em;
   height:0.2em;
   border-width:0.1em;
   border-style:solid;
}
.icon.line:before {
   top:-0.35em;
}

.icon.line:after {
   top:0.6em;
}

.icon.rectangle {
   height:0.9em;
   width:0.9em;
   position:relative;
   box-sizing:border-box;
   border-width:0.1em;
   border-style:solid;
}

.icon.rectangle:before {
   width:0.2em;
   height:0.2em;
   border-width:0.1em;
   border-style:solid;
}

.icon.rectangle:before {
   top:-0.1em;
   left:-0.1em;
   transform:none;
}

.icon.fill {
   width:0.9em;
   height:0.9em;
   border-width:0.1em;
   ccborder-style:solid;
}

.icon.fill:after {
   /*
   border-width:0.35em;
   border-style:solid;
   border-color: transparent;
   border-top-color: inherit;
   transform:rotateZ(45deg) translateX(-0.27em) translateY(0.6em);
   */
   width:0.75em;
   height:0.75em;
   ccbox-shadow:0 0 0 2em  inset;
   border-width:0.1em;
   border-style:solid;
   bottom:0em;
   border-radius:50% 0 50% 50%;
}

.icon.fill:before {
   width:0.3em;
   height:0.3em;
   border-radius:50%;
   box-shadow:0 0 0 2em inset;
   bottom:0.3em;

   /*
   width:0.3em;
   height:0.3em;
   left:70%;
   bottom:-0.6em;
   box-shadow: 0 0 0 2em inset;
   border-radius:50% 0 50% 50%;
   */
}
