.layout {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.layout .row {
   display: flex;
}

.layout .row.flex {
   flex: 1;
   height: 100%;
}

.layout .column.fill {
   flex: 1;
}

.layout .column {
   overflow:hidden;
   height: 100%;
}
