/*

1 - top
2 - center
2.1 sidebar
2.2 workspace
2.2.1 - left dock
2.2.2 - center dock
2.2.2.1 - top dock
2.2.2.2 - bottom dock
2.2.3 - right dock
3. bottom

desktop
|--------------------------------------------------|
| 1                                                |
|--------------------------------------------------|
| 2                                                |
| 2.1 | 2.2                                        |
|     | 2.2.1 | 2.2.2                      | 2.2.3 |
|     |       | 2.2.2.1                    |       |
|     |       |----------------------------|       |<-- workspace is horizontal
|     |       | 2.2.2.2                    |       |
|     |       |                            |       |
|     |       |                            |       |
|     |       |                            |       |
|     |       |                            |       |
|--------------------------------------------------|
| 3                                                |
|--------------------------------------------------|

mobile
|---------------------------|
| 1                         |
|---------------------------|
| 2                         |
| 2.1 | 2.2                 |
|     | 2.2.1               |
|     |---------------------|
|     | 2.2.2               |
|     |                     |
|     |                     |<-- workspace is vertical
|     |                     |
|     |                     |
|     |                     |
|     |                     |
|     |---------------------|
|     | 2.2.3               |
|-----|---------------------|
| 3                         |
|-----|---------------------|

*/

.ui.layout {
   display: flex;
   flex-direction: column;
   height:100%;
}

.ui.layout > .top, .ui.layout > .bottom{
   display: flex;
   justify-content: space-between;
}

.ui.layout > .center {
   flex: 1;
   display: flex;
}

.ui.layout > .center .sidebar {
   height: 100%;
}


.ui.layout > .center > .center {
   flex: 1;
   flex-direction: column;
   display:flex;
   overflow:hidden;
}

.ui.layout > .center > .center > .dockbottom {
   flex: 1;
}
