.ui.frames {
   display:flex;
   overflow:hidden;
   display:flex;
   max-width:100%;
   max-height:100px;
   background:#333;
   border-bottom:8px solid #151a1a;
   transition: max-height 0.2s, border 0.2s;
   box-sizing:border-box;
   position:relative;
   z-index:2;
   will-change:auto;
}

.ui.frames.hide {
   transition-delay:0s, 0.15s;
   max-height:0px;
   border-bottom:0px solid #151a1a;
}

.ui.frames > .frames {
   position:relative;
   flex: 1;
   display:flex;
   overflow:hidden;
}

.ui.frames > .frames > .reel {
   display:flex;
}

.ui.frames > .new {
   width:80px;
}

.ui.frames > .frames > .reel .frame,
.ui.frames > .new .btn {
   transition: all 0.2s;
   box-sizing:border-box;
   height:60px;
   min-width:60px;
   width:60px;
   margin:8px;
   margin-bottom:8px;
   position:relative;
   cursor:pointer;
   background:#999;
   display:Flex;
   border:4px solid transparent;
}

.ui.frames > .frames > .reel .frame + .frame {
   margin-left:0;
}

.ui.frames > .frames .frame.current {
   border:4px solid #FFF;
}

.ui.frames > .frames > .reel .frame canvas {
   background:#FFF;
   max-width:100%;
   max-height:100%;
   margin:auto;
}

.ui.frames > .new .btn {
   border:3px solid;
   line-height:60px;
   text-align:center;
   font-size:40px;
   color:#aaa;
   background:none;
}

.ui.frames > .new .btn:hover {
   transition: all 0s;
   color:#FFF;
}

.ui.frames > .new .btn:after,
.ui.frames > .new .btn:before {
   content: '';
   width:3px;
   height:20px;
   position:absolute;
   top:50%;
   left:50%;
   box-shadow:0 0 0 2em inset;
   transform:translateX(-50%) translateY(-50%);
}

.ui.frames > .new .btn:after {
   transform-origin: center;
   transform:translateX(-50%) translateY(-50%) rotateZ(90deg);
}
