.toolbox {
   height: 100%;
   width: 40px;
   background: #151a1a;
   color: #FFF;
   z-index: 100;
   position: relative;
}

.toolbox .tool {
   width: 100%;
   height: 40px;
   display: flex;
   position: relative;
}

.toolbox .tool:hover {
   cursor: pointer;
   background: rgba(255, 255, 255, 0.05);
}

.toolbox .tool.active {
   cursor: pointer;
   background: rgba(255, 255, 255, 0.1);
}

.toolbox .tool .icon {
   font-size: 19px;
   transform: rotateZ(-45deg);
}

.toolbox .tool .hint {
   position: absolute;
   left: 0px;
   top: 0;
   transform: translateX(-99.5%);
   pointer-events: none;
   padding: 0.5rem 0.75rem;
   background: #151a1a;
   font-size: 14px;
   white-space: nowrap;
   opacity: 0;
   transition: opacity 0.2s;
   line-height: 1.25;
}

.toolbox .tool:hover .hint {
   transition-delay: 0.25s;
   opacity: 1;
}
