.canvas {
  height: 100%;
  width: 100%;
  background: #444;
}

.canvas .scroll {
  position: relative;
  height: 100%;
}

.canvas .scroll canvas {
  position: absolute;
  background: #FFF;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25);
}
