.ui.filedrop {
   background: rgba(0, 0, 0, 0.75);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9000;
   border: 4px dashed #FFF;
   display: flex;
   display: none;
}

.ui.filedrop.show {
   display: block;
}

.ui.filedrop .help {
   margin: auto;
   color: #FFF;
}
