.canvas-container {
   position: absolute;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
   transform:translateX(-50%) translateY(-50%);
}

.canvas-container canvas {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
